<div class="panel panel-default col-md-4">
    <div class="panel-heading">Live scoring</div>
    <div class="panel-body">
        <div class="row">
            <h1>
                Score: {{teamLeft.count}} / {{teamRight.count}}
            </h1>
            <button type="button" class="btn btn-default active pull-right" ng-click="undo()" ng-disabled="data.history.length == 1">
                <i class="fa fa-eraser"></i>Undo
            </button>
        </div>
        <div class="row">
            <table>
                <tr>
                    <td class="col-md-1">
                        <div class=" col-xs-1 ng-hide" ng-show="lastScored == 'teamLeft' && nextServer == 'player1'"><i class="fa fa-life-ring"></i></div>
                    </td>
                    <td>
                        <div class="col-xs-5">
                            {{teamLeft.player1}}
                        </div>
                    </td>
                    <td class="col-md-1">
                        <div class="col-xs-1 ng-hide" ng-show="lastScored == 'teamRight' && nextServer == 'player1'"><i class="fa fa-life-ring"></i> </div>
                    </td>
                    <td>
                        <div class="col-xs-5">
                            {{teamRight.player1}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-1" ng-show="lastScored == 'teamLeft' && nextServer == 'player2'"><i class="fa fa-life-ring"></i> </div>
            <div class="col-xs-5">{{teamLeft.player2}}</div>
            <div class="col-xs-1" ng-show="lastScored == 'teamRight' && nextServer == 'player2'"><i class="fa fa-life-ring"></i> </div>
            <div class="col-xs-5">{{teamRight.player2}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-block active" ng-click="pointLeft()" ng-disabled="timeToSwitch()">
                    <i class="fa fa-hand-o-left"></i> {{teamLeft.name}}
                </button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-block active" ng-click="pointRight()" ng-disabled="timeToSwitch()">
                    {{teamRight.name}} <i class="fa fa-hand-o-right"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-block btn-lg active" ng-click="switchSides()" ng-hide="!timeToSwitch()">
                    <i class="fa fa-refresh fa-spin"></i> Switch Sides
                </button>
            </div>
        </div>
<!--
    <ul>
        <li ng-repeat="point in data.history"> {{point.teamLeft.count}} - {{point.teamRight.count}} lastScored: {{point.lastScored}}, nextToServe:{{point.nextToServe}}  </li>
    </ul>
-->
    </div>
</div>
