<div id="top" class="panel panel-default">
    <div class="panel-heading">{{'GAME_SETTINGS' | translate}}</div>
    <div class="panel-body">
        <form role="form" name="gameSettings" novalidate>
            <bvs-setup-text-input bvs-label="NUMBER_OF_SETS" bvs-placeholder="NUMBER_OF_SETS_PH" bvs-model="numberOfSets"></bvs-setup-text-input>
            <bvs-setup-text-input bvs-label="POINTS_TO_WIN" bvs-placeholder="POINTS_TO_WIN_PH" bvs-model="pointsToWin"></bvs-setup-text-input>
            <bvs-setup-text-input bvs-label="POINTS_TO_WIN_DECIDING_SET" bvs-placeholder="POINTS_TO_WIN_DECIDING_SET_PH" bvs-model="pointsToWinDecidingSet"></bvs-setup-text-input>
            <bvs-setup-text-input bvs-label="SWITCH_ON_POINTS" bvs-placeholder="SWITCH_ON_POINTS_PH" bvs-model="switchOnPoints"></bvs-setup-text-input>
            <bvs-setup-text-input bvs-label="SWITCH_ON_POINTS_DECIDING_SET" bvs-placeholder="SWITCH_ON_POINTS_DECIDING_SET_PH" bvs-model="switchOnPointsDecidingSet"></bvs-setup-text-input>
            <bvs-setup-checkbox-input bvs-label="SCOREBOARD_ON" bvs-model="isUseScoreboard"></bvs-setup-checkbox-input>
            <bvs-setup-checkbox-input bvs-label="SPEECH_ON" bvs-model="speechIsOn"></bvs-setup-checkbox-input>
            <bvs-setup-checkbox-input bvs-label="STATS_ON" bvs-model="isCollectStats"></bvs-setup-checkbox-input>
            <bvs-setup-checkbox-input bvs-label="USAGE_INFO_ON" bvs-model="isShowInfo"></bvs-setup-checkbox-input>
            <button type="button" class="btn btn-default active" ng-click="changeLanguage('en')">
                English
            </button>
            <button type="button" class="btn btn-default active" ng-click="changeLanguage('ru')">
                Русский
            </button>
        </form>
    </div>
</div>

